.social-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }
  
  .social-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 64px;
    height: 64px;
    text-decoration: none;
    border-radius: 100%;
    background: #fff;
    text-align: center;
  }
  
  .social-button::after {
    content: '';
    position: absolute;
    top: -1px;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: 0.3s;
  }
  
  .social-button:focus::after,
  .social-button:hover::after {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    margin-left: calc(-50% - 1px);
  }
  
  .social-button i,
  .social-button svg {
    position: relative;
    z-index: 1;
    transition: 0.3s;
  }
  
  .social-button i {
    font-size: 25.6px;
  }
  
  .social-button svg {
    height: 16%;
    width: 16%;
  }
  
  .social-button--linkedin {
    color: #0077b5;
  }
  
  .social-button--github {
    color: #6e5494;
  }