body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

.main-container {
    text-align: center;
    margin: 50px auto;
}

h1 {
    color: #fff;
}

img {
    max-width: 100%;
}

h3 {
    color: #fff;
    margin-top: 20px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}