<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/icon.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/wrapper.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.cdnfonts.com/css/blanka" rel="stylesheet">
</head>
<body>
    {% load static %}
    <h1 class="h1">FUHREM</h1>
    <ul class="menu-bar">
        <li><a class="menu-link" href="{% url 'search' %}">Home</a></li>
        <li><a class="menu-link" href="{% url 'about' %}">About</a></li>
        <li><a class="menu-link" href="{% url 'contact' %}">Contact</a></li>
    </ul>
    
    
    <section class="about">
        <div class="slides">
            <img src="{% static 'images/ron.jpg' %}">
            <div class="about-text">
                <h1>Ronay Oktem</h1>
                <h4><span>Jr. Frontend Developer</span> </h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia saepe atque, explicabo doloremque perspiciatis labore fugit aperiam numquam molestiae exercitationem?</p>
                <div class="social-buttons">
                    <a href="https://www.linkedin.com/in/ronay-%C3%B6ktem-0b9687246/" class="social-button social-button--linkedin" aria-label="LinkedIn" target="_blank">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="https://github.com/Poeron" class="social-button social-button--github" aria-label="GitHub" target="_blank">
                      <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="slides">
            <img src="{% static 'images/ferhat.jpg' %}">
            <div class="about-text">
                <h1>Ferhat Telman</h1>
                <h4><span>Jr. Frontend Developer</span> </h4>
                <p>Hello there, I am Ferhat Telman. It was so formal, sorry. I am a computer engineering student dealing with many languages. (C++, C#, JS) (now Junior Level :/)</p>
                <div class="social-buttons">
                    <a href="https://www.linkedin.com/in/ferhat-telman-530452244/" class="social-button social-button--linkedin" aria-label="LinkedIn" target="_blank">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="https://github.com/ferhattelman" class="social-button social-button--github" aria-label="GitHub" target="_blank">
                      <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="slides">
            <img src="{% static 'images/umit.jpg' %}">
            <div class="about-text">
                <h1>Umit Cifci</h1>
                <h4><span>Jr. Backend Developer</span> </h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia saepe atque, explicabo doloremque perspiciatis labore fugit aperiam numquam molestiae exercitationem?</p>
                <div class="social-buttons">
                    <a href="https://www.linkedin.com/in/%C3%BCmit-%C3%A7if%C3%A7i-27357923b/" class="social-button social-button--linkedin" aria-label="LinkedIn" target="_blank">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="https://github.com/Doxa56" class="social-button social-button--github" aria-label="GitHub" target="_blank">
                      <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
          </div>
          <div class="slides">
              <img src="{% static 'images/eren.jpg' %}">
              <div class="about-text">
                  <h1>Eren Igit</h1>
                  <h4><span>Jr. Test Engineer</span> </h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia saepe atque, explicabo doloremque perspiciatis labore fugit aperiam numquam molestiae exercitationem?</p>
                  <div class="social-buttons">
                      <a href="https://www.linkedin.com/in/eren-igit-415b64252/" class="social-button social-button--linkedin" aria-label="LinkedIn" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                      <a href="https://github.com/3renigit" class="social-button social-button--github" aria-label="GitHub" target="_blank">
                        <i class="fab fa-github"></i>
                      </a>
                  </div>
              </div>
          </div>
        <div class="slides">
            <img src="{% static 'images/ferhat.jpg' %}">
            <div class="about-text">
                <h1>Helin Aktas</h1>
                <h4><span>Jr. Frontend Developer</span> </h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia saepe atque, explicabo doloremque perspiciatis labore fugit aperiam numquam molestiae exercitationem?</p>
                <div class="social-buttons">
                    <a href="https://www.linkedin.com/in/helin-akta%C5%9F-649044251/" class="social-button social-button--linkedin" aria-label="LinkedIn" target="_blank">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="https://github.com/Helinaktas" class="social-button social-button--github" aria-label="GitHub" target="_blank">
                      <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>


        <div class="slides">
            <img src="{% static 'images/ferhat.jpg' %}">
            <div class="about-text">
                <h1>Merva Dogan</h1>
                <h4><span>Jr. Frontend Developer</span> </h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia saepe atque, explicabo doloremque perspiciatis labore fugit aperiam numquam molestiae exercitationem?</p>
                <div class="social-buttons">
                    <a href="https://www.linkedin.com/in/merva-do%C4%9Fan-404974273/" class="social-button social-button--linkedin" aria-label="LinkedIn" target="_blank">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="https://github.com/mervadogan" class="social-button social-button--github" aria-label="GitHub" target="_blank">
                      <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
        
    </section>


</body>
</html>
