<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="{% static 'css/wrapper.css' %}">
    <link href="https://fonts.cdnfonts.com/css/blanka" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
	<script>
    let veri_turu;
    let arama_sayisi;
    let graphic;
    $(document).ready(function(){
      $("#btn").click(function(){
        console.log(veri_turu+' '+arama_sayisi+' '+graphic);
      });
    });
		$(document).ready(function(){
			$("#df1").click(function(){
			  $("#dd1 ul").addClass("active");
			});

			$("#dd1 ul li").click(function(){
			  var text = $(this).text();
			  $("#df1").text(text);
			  $("#dd1 ul").removeClass("active");
        $("#veri_turu").val(text);
			});
      
      $(document).on("click", function(event) {
        if (!$(event.target).closest(".dropdown").length) {
          $(".dropdown ul").removeClass("active");
        }
      });
    });

    $(document).ready(function() {
      $("#df2").click(function(){
			  $("#dd2 ul").addClass("active");
			});

			$("#dd2 ul li").click(function(){
			  var text = $(this).text();
			  $("#df2").text(text);
			  $("#dd2 ul").removeClass("active");
        $("#arama_sayisi").val(text);
			});
      $(document).on("click", function(event) {
        if (!$(event.target).closest(".dropdown").length) {
          $(".dropdown ul").removeClass("active");
        }
      });
    });



    $(document).ready(function() {
      $("#df3").click(function(){
			  $("#dd3 ul").addClass("active");
			});

			$("#dd3 ul li").click(function(){
			  var text = $(this).text();
			  $("#df3").text(text);
			  $("#dd3 ul").removeClass("active");
        graphic = text;
        
			});
      $(document).on("click", function(event) {
        if (!$(event.target).closest(".dropdown").length) {
          $(".dropdown ul").removeClass("active");
        }
      });
    });

	</script>
<body>
    {% load static %}
    <h1 class="h1">FUHREM</h1>
    <ul class="menu-bar">
        <a style="text-decoration:none;" href="{% url 'search' %}"> <li ><p class="menu-link" >Home</p></li></a>
        <a style="text-decoration:none;" href="{% url 'about' %}"> <li ><p class="menu-link" >About</p></li></a>
        <a style="text-decoration:none;" href="{% url 'contact' %}"> <li ><p class="menu-link" >Contact</p></li></a>
    </ul>

    <div class="wrapper">
      <form method="post" action="{% url 'pwSearch' %}" class="search_field">
        {% csrf_token %}
        <div class="search_box">
            <div id="dd1" class="dropdown">
                <div id="df1" class="default_option">Category</div>  
                <ul>
                  <li>Photo</li>
                  <li>Vector</li>
                  <li>Illustration</li>
                  <li>Video</li>
                  <li>Editorial Image</li>
                  <li>Editorial Video</li>
                </ul>
            </div>

            <div class="search_field">
              <input type="hidden" name="veri_turu" id="veri_turu">
              <input type="text" name="input_degeri" class="input" placeholder="Search">
              <button id="btn" class="fas fa-search"></button>
            </div>

            <div class="value_field">
              <input type="text" name="arama_sayisi" id="arama_sayisi" class="input" placeholder="Value">
            </div>

            <div id="dd3" class="dropdown lastop">
                <div id="df3" class="default_option">Regression</div> 
                <ul>
                  <li>Linner</li>
                  <li>Logistics</li>
                </ul>
            </div>
        </div>
      </form>
    </div>
</body>
</html>
